@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap");
$font-size: 16px;
$margin-right: -2px,5px,10px;
* {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}
//
ul li {
  list-style-type: none;
}
.select-footer-btn {
  margin-left: 10px;
  padding: 10px 15px;
  border: 2px solid #00bbd3;
  color: #00bbd3;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.header-caculate {
  color: #3c3950;
  font-size: 36px;
  margin-bottom: 20px;
}
.icon-5px{
  font-size: $font-size;
}
@each $name in $margin-right{
    .icon-#{$name} {
        margin-right: $name;
    }
}
// base