* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.font-text {
  font-size: 16px;
  /* color: #fff; */
}

ul li {
  list-style-type: none;
}

.btn-apply, section .select-total .calculate .calculate-div-btn .calculate-btn, section .select-footer .select-footer-coupon .btn-apply {
  margin-left: 10px;
  padding: 10px 15px;
  border: 2px solid #00bbd3;
  color: #00bbd3;
  border-radius: 5px;
}
.btn-apply:hover, section .select-total .calculate .calculate-div-btn .calculate-btn:hover, section .select-footer .select-footer-coupon .btn-apply:hover {
  cursor: pointer;
  opacity: 0.8;
}

.getStyleHeader, section .selector-total-cart h1, section .select-total .calculate h1 {
  color: #3c3950;
  font-size: 36px;
  margin-bottom: 20px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  /* font-size: 10px; */
}

a:hover {
  cursor: pointer;
  color: red;
}

.fa-angle-right {
  font-size: 12px;
  margin-right: 2px;
}

.flex {
  display: flex;
}

.btn {
  margin-left: 10px;
}

#background-layout {
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
}

.fa-star-of-david {
  font-size: 16px;
  margin-right: 5px;
}

.fa-solid, .fa-brands {
  margin-right: 10px;
}

.list-link {
  display: flex;
}

.list-link > a {
  margin-right: 5px;
}

.list-link > a:hover {
  cursor: pointer;
  color: #00bcd4;
}

i.fa-solid.fa-cart-shopping {
  margin-right: -2px;
}

.footer-margin {
  margin-right: 5px;
}

.footer-contact-layout-Policy {
  padding: 0 10px;
}

.copyright-text {
  color: #0d6578;
}

.fa-twitter {
  color: #16a7b9;
}

.fa-facebook {
  color: #315bd6;
}

.fa-youtube {
  color: #ae0e0e;
}

.fa-google {
  color: #61262d;
}

header .header-layout {
  /* width: 100%; */
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #f4f6f7;
}
header .header-layout .logo-icon {
  display: flex;
  align-items: center;
}
header .header-layout .logo-icon .h1-text {
  font-size: 18px;
}
header .header-layout .logo-icon:hover {
  cursor: pointer;
}
header .header-layout .header-layout-icon {
  display: flex;
  position: relative;
}
header .header-layout .header-layout-icon .arrow-left {
  position: relative;
  background-color: #00bcd4;
  margin-left: 10px;
  width: 20px;
  height: 10px;
}
header .header-layout .header-layout-icon .arrow-left::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #00bcd4;
  margin-left: -5px;
}
header .header-layout .btn-menu {
  display: none;
}
header .flex .layout-list {
  display: flex;
  align-items: center;
}
header .flex .btn-change {
  font-size: 16px;
  border: none;
  padding: 2px 4px;
  font-family: emoji;
  border-radius: 2px;
  background: #666;
  color: #fff;
}

section {
  padding: 20px 5rem;
}
section table {
  width: 100%;
}
section table thead {
  background-color: #999;
}
section table thead tr .header-th {
  padding: 10px 0;
}
section table .tbody-group {
  background-color: #fff;
}
section table .tbody-group tr {
  background-color: #f0f3f2;
}
section table .tbody-group td {
  padding: 10px 0;
}
section table .tbody-group td .tbody-group-product {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
section table .tbody-group td .tbody-group-product span {
  margin-left: 10px;
  color: #00bcd4;
}
section table .tbody-group td .tbody-group-product span:hover {
  cursor: pointer;
}
section table .tbody-group td .quantity {
  text-align: center;
  padding: 10px 0;
}
section table .tbody-group td .quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
section table .tbody-group td .quantity button[class*=-btn] {
  padding: 10px 10px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
section table .tbody-group td .quantity button[class*=-btn] .fa-plus, section table .tbody-group td .quantity button[class*=-btn] .fa-minus {
  margin: 0;
}
section .select-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
section .select-footer .select-footer-coupon .form-control {
  padding: 10px 20px;
  border: 1px solid #f5f7f6;
}
section .select-footer .float-right .btn-update, section .select-footer .float-right .btn-checkout {
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
}
section .select-footer .float-right .btn-update:hover, section .select-footer .float-right .btn-checkout:hover {
  cursor: pointer;
  opacity: 0.8;
}
section .select-footer .float-right .btn-update {
  background-color: #00bcd4;
}
section .select-footer .float-right .btn-checkout {
  background-color: #393d50;
}
section .select-total {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
section .select-total .calculate .calculate-div-btn {
  margin-top: 10px;
}
section .select-total .calculate .calculate-div-btn .calculate-btn {
  margin: 0;
}
section .selector-total-cart {
  padding: 0 90px;
}
section .selector-total-cart table tr .title {
  padding: 10px 20px;
  background-color: #999;
  color: #333;
}
section .selector-total-cart table tr .price {
  padding-left: 10px;
}

footer {
  background-color: #212331;
  /* height: 100vh; */
  padding-top: 20px;
}
footer .footer-contact .layout-list {
  display: flex;
  align-items: center;
}
footer .footer-contact .layout-list .footer-contact-layout-li {
  padding: 0 10px;
  border-right: 1px solid #333;
}
footer .footer-div {
  margin: 0 5rem;
  color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  text-align: star;
  margin-bottom: 20px;
}
footer .footer-div .footer-div-col {
  width: 25%;
  margin-left: 10px;
  /* margin-right: 42px; */
}
footer .footer-div .footer-div-col .footer-div-col-h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}
footer .footer-div .footer-div-col .icon-group {
  margin-top: 10px;
}
footer .footer-div .footer-div-col .flex-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .footer-contact {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: #181828;
  height: 100px;
  align-items: center;
  color: #fff;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  display: block;
  padding-top: 35px;
  padding-right: 200px;
  transform: translateX(300px);
}

.font-icon-social:hover {
  cursor: pointer;
}

.check-input:checked ~ .nav-overlay {
  display: block;
}

.check-input:checked ~ .nav-mobile {
  transform: translateX(0);
}

.nav-mobile > a {
  padding: 10px 0;
}

.media-xmark {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
}

.fa-xmark {
  font-size: 18px;
}

.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 768px) {
  header .mobile-media {
    display: none;
  }
  header .header-layout .media-layout {
    display: none;
  }
  header .header-layout .btn-menu {
    display: block;
  }
  header .media-list-link {
    display: none;
  }
  section table {
    border: 0;
  }
  section table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  section table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  section table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
  }
  section table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  section table td:last-child {
    border-bottom: 0;
  }
  section .select-footer .media-btn {
    margin-top: 10px;
  }
  section .selector-total-cart table tr {
    /* Behave  like a "row" */
  }
  section .selector-total-cart table tr .title-media {
    text-align: center;
  }
  section .select-total .calculate .media-input {
    margin-top: 10px;
    margin-left: 0 !important;
  }
  footer .media-footer-content {
    display: block;
  }
  footer .media-footer-content .media-footer-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .footer-contact .media-list {
    display: inline-flex;
  }
  footer .media-icon {
    display: block;
    text-align: center;
    line-height: 32px;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  header .mobile-media {
    display: none;
  }
  section .select-total .calculate .media-input {
    margin-top: 10px;
    margin-left: 0 !important;
  }
}/*# sourceMappingURL=index.css.map */